@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;700;900&family=Poppins:wght@100;300;400;500;700;900&family=Inter:wght@400;700;900&family=JetBrains+Mono:wght@400;700;900&family=Fira+Code:wght@400;700&display=swap');

:root {
    --font-outfit: 'Outfit', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-jetbrains: 'JetBrains Mono', monospace;
    --font-fira: 'Fira Code', monospace;
}

body {
    font-family: var(--font-outfit);
}